<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title OK</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/public/css/style.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a href="/" class="navbar-brand">Главная</a>
        </div>
    </nav>
    <div class="container">
        {{> @partial-block }}
    </div>
</body>
</html>